.footer {
    background-color: #1C4A5A;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    font-size: 1rem;
    position: relative;
    bottom: 0;


    &_container {

        &--row {
            display: flex;

        }

        &--col {
            flex: 33.33333%;
        }

        &--list-item {

            &-link {
                text-decoration: none;
                color: white;

                &:hover {
                    border-bottom: 1px solid white;
                    color: white;
                }
            }
        }

        &--icons {
            flex-direction: row;

            &-link {

                &_img {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 2rem;
                    transition: .2s all;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}